---
import { en } from "~/config"
import AboutContentEn from "~/config/en/about.mdx"
import MainLayout from "~/layouts/main.astro"
import { getLanguagePaths } from "~/utils/langs"

export function getStaticPaths() {
  return getLanguagePaths()
}

const pageMeta = en.pageMeta
const AboutContent = AboutContentEn
---

<MainLayout
  title={pageMeta.about.title}
  description={pageMeta.about.description}
  ogImage={pageMeta.about.ogImage}
  needComment={true}
>
  <div
    class="prose mt-4 max-w-3xl px-2 dark:prose-invert"
    style={{
      background: "rgba(255, 255, 255, 0.1)",
      borderRadius: "16px",
      boxShadow: "0 4px 30px rgba(0, 0, 0, 0.1)",
      backdropFilter: "blur(0.2px)",
      WebkitBackdropFilter: "blur(0.2px)", // Necessary for Safari support
      border: "1px solid rgba(255, 255, 255, 0.2)",
    }}
  >
    <AboutContent />
  </div>
</MainLayout>
